body{
    background-color:rgb(224, 218, 213);
    font-family: "Lucida Console", "Courier New", monospace; 
}

header{
  margin-top:5px;
}
    
.logo{
  border-style: solid;
  border-color:black;
  width: 120px;
  font-size: 25px;
  float:left;
  padding: 14px;
  margin-left: 25px;
  color:black;
}

.navbar{
  margin-top: 40px;
  overflow: hidden;
  float:left;
  margin-left:15px;
}

.navbar a {
  float:left;
  font-size: 16px;    
  color: black;
  padding: 20px ;
  text-decoration: none;
  padding: 14px 16px;
}

.subnav {
  float: left;
  overflow: hidden;
}

.subnav .subnavbtn{  
  font-size: 16px;
  border: none; 
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin:0;
}

.navbar a:hover, .subnav:hover .subnavbtn {
  background-color: white;
}

.subnav-content{
  display: none;
  position: absolute;
  background-color: white;
}

.subnav-content a {
  color: black;
  text-decoration: none;
  
}

.subnav-content a:hover {
  background-color:rgb(153, 144, 129);
  color:black;
}

.subnav:hover .subnav-content {
  display: block;
}

form{
  float:right;
  padding: 24px;
}

.aboutshop{
  clear:both;
  display:flex;
  
  align-items: center;
  justify-content: center;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.text{
clear:both;
background-color: white;
width: 300px;
height:250px;
padding: 50px;
float:left;
font-size: 20px;
}

.coffee{
float:left;
margin-top: 20px;
margin-left: 60px;
width: 300px;
height:250px;
}

