body{
    background-color:rgb(224, 218, 213);
    font-family: "Lucida Console", "Courier New", monospace; 
}

header{
  margin-top:5px;
}
    
.logo{
  border-style: solid;
  border-color:black;
  width: 120px;
  font-size: 25px;
  float:left;
  padding: 14px;
  margin-left: 25px;
  color:black;
}

.navbar{
  margin-top: 40px;
  overflow: hidden;
  float:left;
  margin-left:15px;
}

.navbar a {
  float:left;
  font-size: 16px;    
  color: black;
  padding: 20px ;
  text-decoration: none;
  padding: 14px 16px;
}

.subnav {
  float: left;
  overflow: hidden;
}

.subnav .subnavbtn{  
  font-size: 16px;
  border: none; 
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin:0;
}

.navbar a:hover, .subnav:hover .subnavbtn {
  background-color: white;
}

.subnav-content{
  display: none;
  position: absolute;
  background-color: white;
}

.subnav-content a {
  color: black;
  text-decoration: none;
  
}

.subnav-content a:hover {
  background-color:rgb(153, 144, 129);
  color:black;
}

.subnav:hover .subnav-content {
  display: block;
}

form{
  float:right;
  margin-top: 40px;
}

input[type=text] {
  width: 130px;
  height:40px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  background-color: white;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
  width: 60%;
}

.images{
  display:block;
  clear:left;
  margin-left: 55px;
  position:relative;
}

.image1{
  position:relative;
  float:left;
}
.img{
  opacity: 0.7; 
  width:100%;
  display:inline;
}

.image2{
  position:relative;
  float:left; 
}


.image3{
  position:relative;
  float:left;  
}


.image4{
  position:relative;
  float:left;   
}


.center{
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  font-size: 25px;
  color: white;
}

.img:hover {
  opacity: 1;
}

.promotions{
clear:both;
display: flex;
align-items: center;
justify-content: center;

top:0;
bottom: 0;
left: 0;
right: 0;
margin: auto;

}


.promo{

border-style: dashed;
border-color:black;
padding: 20px;
width: 150px;
height: 150px;
font-size: 25px;
font-weight: bold;
text-align: center;
}



.left:hover,
.right:hover {
  background-color: rgba(0, 0, 0, 0.8);
}


footer{
  clear: both;
  position: relative;
  bottom:0;
  background-color: #f1f1f1;
  width: 100%;
  padding: 10px;
  text-align: center;
  color: black; 
}

footer a{
  color: black;
  
}









