body{
    background-color:rgb(224, 218, 213);
    font-family: "Lucida Console", "Courier New", monospace; 
}

header{
  margin-top:5px;
}
    
.logo{
  border-style: solid;
  border-color:black;
  width: 120px;
  font-size: 25px;
  float:left;
  padding: 14px;
  margin-left: 25px;
}

.navbar{
  margin-top: 60px;
  overflow: hidden;
  float:left;
  margin-left:15px;
}

.navbar a {
  color: black;
  padding: 20px ;
  font-size: 16px;
  text-decoration: none;
  padding: 14px 16px;
}

.menu {
  float: left;
  overflow: hidden;
}

.menu.button{
  font-size: 16px;  
  border: none;
  color: black;
  padding: 14px 16px;
  
}

.navbar a:hover, .menu:hover .button {
  background-color: white;
}

.content{
  display: none;
  position: absolute;
  min-width: 90px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.content a:hover {
  background-color: white;
}

.menu:hover .content {
  display: block;
}

form{
  float:right;
  padding: 24px;
}

.images{
  display:block;
  margin-left:auto;
  margin-right:auto;
  clear:left;
  margin-left: 55px;
  position:relative;
}

.image1{
  position:relative;
  float:left;
}
.img{
  opacity: 0.7; 
  width:100%;
  display:inline;
}

.image2{
  position:relative;
  float:left; 
}


.image3{
  position:relative;
  float:left;  
}


.image4{
  position:relative;
  float:left;   
}


.center{
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  font-size: 25px;
  color: white;
}

.img1:hover, .img2:hover, .img3:hover, .img4:hover {
  opacity: 1;
}

.promotions{
  display:inline;
  clear:left;
}

.left_arrow{
  clear:both;

}

.promo{
display:inline;
margin:auto;
clear:both;
border-style: dashed;
border-color:black;
padding: 20px;
width: 150px;
height: 150px;
font-size: 25px;
font-weight: bold;
text-align: center;
}


footer{
  clear: both;
  position: relative;
  bottom:0;
  background-color: #f1f1f1;
  width: 100%;
  padding: 10px;
  text-align: center;
  color: black; 
}

footer a{
  color: black;
  
}









