body{
    background-color:rgb(224, 218, 213);
    font-family: "Lucida Console", "Courier New", monospace; 
}

header{
  margin-top:5px;
}
    
.logo{
  border-style: solid;
  border-color:black;
  width: 120px;
  font-size: 25px;
  float:left;
  padding: 14px;
  margin-left: 25px;
  color:black;
}

.navbar{
  margin-top: 40px;
  overflow: hidden;
  float:left;
  margin-left:15px;
}

.navbar a {
  float:left;
  font-size: 16px;    
  color: black;
  padding: 20px ;
  text-decoration: none;
  padding: 14px 16px;
}

.subnav {
  float: left;
  overflow: hidden;
}

.subnav .subnavbtn{  
  font-size: 16px;
  border: none; 
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin:0;
}

.navbar a:hover, .subnav:hover .subnavbtn {
  background-color: white;
}

.subnav-content{
  display: none;
  position: absolute;
  background-color: white;
}

.subnav-content a {
  color: black;
  text-decoration: none;
  
}

.subnav-content a:hover {
  background-color:rgb(153, 144, 129);
  color:black;
}

.subnav:hover .subnav-content {
  display: block;
}

form{
  float:right;
  margin-top: 40px;
}

input[type=text] {
  width: 130px;
  height:40px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  background-color: white;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
  width: 60%;
}

.shops{
    clear:both;
    display: flex;
    margin-left: 55px;
    position:relative;
  }
  
  .shop1{
    position:relative;
    float:left;
  }

  .shop2{
    position:relative;
    float:left;
    margin-left: 200px;
  }
  
  .shop-img{
    opacity: 1; 
    width: 310px;
    height:380px;
    display:inline;
  }
  .shop-content{
    clear:left;
    text-align: left;
    font-size: 16px;
    color: black;
  }